<div class="user-details">
	<h1> My Expertise </h1>
	<p> {{site.user_description}} </p>
</div>
<div class="user">
	<div class="tech">
		<h2>Code</h2>
		<i class="devicon-c-line colored"></i>
		<i class="devicon-cplusplus-line colored"></i>
		<i class="devicon-java-plain-wordmark"></i>
		<p>Thanks to my experience as a Computer Science tutor at Clemson, I am mostly familiar with
		C and C++ since they are used in our introductory courses. I am also
		comfortable with using Java, though have not used it as extensively.</p>
	</div>
	<div class="tech">
		<h2>Tools</h2>
		<i class="devicon-mysql-plain-wordmark colored"></i>
		<i class="devicon-github-plain-wordmark colored"></i>
		<i class="devicon-vim-plain colored"></i>
		<p>My most recent experience was doing data warehouse development in
		SQL with the Cyber Security department's database team at TIAA. For personal projects, I am a
		huge fan of Vim and GitHub for creating and managing my work.</p>
	</div>
</div>
<div class="user-details">
	<h1> My Interests </h1>
	<div class="user">
		<div class="tech">
			<h2>Cyber Security</h2>
			<i class="fa fa-server" aria-hidden="true"></i>
			<i class="fa fa-user-secret" aria-hidden="true"></i>
			<i class="fa fa-unlock-alt" aria-hidden="true"></i>
			<p>I joined Clemson's <a href="https://cucyber.net">CU Cyber</a> club
			during my Sophomore year, and have become the club's secretary since
			then. I actively participate in our club's Linux-competition team,
			where we participate in events such as <a
									 href="http://www.nationalccdc.org/">CCDC</a> and
								 <a href="http://www.pcdc-sc.com/">PCDC</a> (2nd
								 place 2017). One of my goals is to obtain a
								 security certification, and pursue a career in the
								 cyber security field once I have gained more experience.</p>
		</div>
		<div class="tech">
			<h2>Linux</h2>
			<i class="devicon-linux-plain colored"></i>
			<i class="devicon-amazonwebservices-original colored"></i>
			<i class="devicon-docker-plain colored"></i>
			<p>I have been a big fan of Linux since being introduced to it
			through my degree, and currently use it everywhere I can. I currently
			run a "homelab" on a Raspberry Pi, and am experimenting with Docker
			and AWS during my free time.</p>
		</div>
	</div>
</div>
