 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
   <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-line colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p>Thanks to my experience as a Computer Science tutor at Clemson, I am mostly familiar with
		C and C++ since they are used in our introductory courses. I am also
		comfortable with using Java, though have not used it as extensively.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>My most recent exeperience was doing data warehouse development in
		SQL with the Cyber Security department's database team at TIAA. For personal projects, I am a
		huge fan of Vim and GitHub for managing my work.</p>
    </div>
</div>
<div class="user-details">
  <h1> My Interests </h1>
  <p> GENTOO BTW</p>
</div>
